beautifulsoup4==4.11.1
constructive_geometries==0.8.2
country_converter==0.7.7
duckdb==0.7.1
dbt-fal==1.3.13
loguru==0.6.0
nltk==3.7
pandas==1.5.2
pg8000==1.29.1
pyarrow==6.0.1
pydantic==1.9.2
PyYAML==6.0
SQLAlchemy==1.4.41
SQLAlchemy_Utils==0.38.3
sqlparse==0.4.2
translitcodec==0.7.0
typer==0.7.0
Unidecode==1.3.6
#utils==0.0.1
utils==0.1
dbt-artifacts-parser==0.2.4 
devtools==0.11.0
openpyxl==3.1.2